In [7]:
import pandas as pd

In [12]:
#p.84 표 내용을 데이터프레임으로 만들기
df = pd.DataFrame({
    '제품' : ['사과','딸기','수박'],
    '가격' : [1800,1500,3000],
    '판매량' : [24,38,13]
})
df

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [22]:
#과일의 평균가격과 평균판매량 구하기
print(sum(df['가격'])/3)
print(sum(df['판매량'])/3)

2100.0
25.0