In [1]:
####17-1) 자료구조란?

In [3]:
#자료구조 : 데이터를 담고 있는 변수의 모양

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame([1,2,3]) #데이터프레임 만들기
df.mean()

0    2.0
dtype: float64

In [11]:
x = [1,2,3] #list 만들기
x.mean() #list자료구조는 mean() 사용 불가

AttributeError: 'list' object has no attribute 'mean'

In [13]:
sum(x)/len(x) #sum()과 len()을 이용해 평균 구하기

2.0

In [15]:
## mean을 사용하고 싶을 경우, 자료구조를 데이터프레임으로 바꿔야 함.
## 자료구조가 list일 때는 mean()을 사용할 수 없지만
## 데이터프레임으로 바꾸고 나면 사용 가능

In [17]:
df_x = pd.DataFrame(x) #데이터프레임으로 바꾸기
df_x

   0
0  1
1  2
2  3

In [19]:
df_x.mean() #mean사용

0    2.0
dtype: float64

In [22]:
#### 17-2)스칼라

In [24]:
#스칼라 : 하나의 값으로 구성된 자료구조
#      : 자료구조를 만드는 가장 작은 기본단위
#      : 다른 자료구조도 스칼라가 여러 개 모여서 만들어짐

In [26]:
## 만들기

In [28]:
#변수에 값을 하나만 할당하면 스칼라가 됨
#스칼라는 값의속성에 따라 다양한 타입이 있음
# type()을 이용하면 변수의 타입을 확인할 수 있음

In [30]:
x = 1
x

1

In [32]:
type(x)

int

In [34]:
x = 1.5
x

1.5

In [36]:
type(x)

float

In [40]:
x = 'apple'
x

'apple'

In [42]:
type(x)

str

In [44]:
##타입 바꾸기

In [46]:
#int 만들기
var1 = 1
var1

1

In [49]:
type(var1)

int

In [51]:
#int를 float로 바꾸기
var2 = float(var1)
var2

1.0

In [53]:
type(var2)

float

In [55]:
#float를 str로 바꾸기
var3 = str(var2)
var3

'1.0'

In [57]:
type(var3)

str

In [62]:
####17-3) 리스트

In [64]:
# 리스트 : 여러 값을 나열한 자료구조
#       : 스칼라 여러 개를 나열하면 리스트가 됨

In [66]:
#리스트 만들기
x = [1,2,'a','b']
x

[1, 2, 'a', 'b']

In [68]:
type(x)

list

In [70]:
x[0]

1

In [72]:
x[1:3] #1~2번째 값 추출

[2, 'a']

In [74]:
x.append(8) #x에 8 추가
x

[1, 2, 'a', 'b', 8]

In [76]:
x.remove(2) #x에서 2삭제
x

[1, 'a', 'b', 8]

In [78]:
x[0] = 9 #0번째 값을 9로 변경
x

[9, 'a', 'b', 8]

In [86]:
####17-4) 튜플

In [88]:
#튜플 : 리스트와 마찬가지로 여러 값을 나열한 자료구조
#     : 리스트와 다른 점은 한번 만들면 값을 수정할 수 없다는 것

In [92]:
x = (1,2,'a','b')
x

(1, 2, 'a', 'b')

In [94]:
type(x)

tuple

In [96]:
x2 = 1,2,'a','b'
x2

(1, 2, 'a', 'b')

In [98]:
type(x2)

tuple

In [100]:
#0번째 값 추출
x[0]

1

In [102]:
#1~2번째 값 추출
x[1:3]

(2, 'a')

In [104]:
## 튜플은 한 번 만들면 수정할 수 없다 
## 리스트는 값을 추가/삭제/변경 가능하지만 튜플은 불가능

In [106]:
x.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [108]:
x.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [110]:
x[0]=9

TypeError: 'tuple' object does not support item assignment

In [113]:
####17-5) 딕셔너리

In [115]:
#딕셔너리 : 키(key)와 값(value)이 짝을 이루어 나열된 자료구조
#        : 단어와 설명의 쌍으로 이루어진 사전처럼 딕셔너리도 키와 값의 쌍으로 이루어짐

In [117]:
#딕셔너리 만들기 
x = {'name' : 'kim'}
x

{'name': 'kim'}

In [119]:
type(x)

dict

In [121]:
x = {'id':1, 'name':['kim', 'park'], 'nclass':(1,2,3)}
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3)}

In [123]:
#id 키의 값 추출
x['id']

1

In [125]:
#name 키의 값 추출
x['name']

['kim', 'park']

In [127]:
#키-값 쌍은 인덱스를 이용해 추출할 수 없음
x[1]

KeyError: 1

In [129]:
#name 키의 0번째 값 추출
x['name'][0]

'kim'

In [131]:
#nclass 키의 1번째 값 추출
x['nclass'][1]

2

In [133]:
#'score' : [5,6,7] 쌍 추가
x['score']= [5,6,7]
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [135]:
#id 키:값 쌍 삭제
del(x['id'])
x

{'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [137]:
#name 키의 1번째 요소 삭제
del(x['name'][1])
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [139]:
#score 키의 값 변경
x['score'] = [7,8,9]
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 9]}

In [141]:
#score 키의 2번째 값 변경
x['score'][2] = 99
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 99]}

In [143]:
#(1) 기존 키를 새 키에 할당
x['math'] = x['score']
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 99], 'math': [7, 8, 99]}

In [145]:
#(2) 기존 키 삭제
del(x['score'])
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'math': [7, 8, 99]}

In [147]:
#pd.DataFrame()으로 데이터프레임 만들기
df = pd.DataFrame({'id' : [1,2,3]})
df

   id
0   1
1   2
2   3

In [158]:
mpg = pd.read_csv('mpg.csv')

In [160]:
#df.rename()으로 변수명 바꾸기
mpg.rename(columns = {'cty':'city'})

,manufacturer,model,displ,year,cyl,trans,drv,city,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [163]:
####17-6) 시리즈

In [167]:
#시리즈 : 여러 값을 나열한 자료구조
#      : 데이터프레임을 구성하는 하위 요소
#      : 데이터프레임을 다루는 함수는 대부분 시리즈를 이용해서 연산함
#      : 시리즈는 파이썬에 내장 X. pandas 패키지를 이용해야 활용할 수 있음
#      : pd.Series()에 값을 나열해서 만듦

In [169]:
#시리즈 만들기
import pandas as pd
x_num = pd.Series([3,4,5])
x_num

0    3
1    4
2    5
dtype: int64

In [171]:
type(x_num)

pandas.core.series.Series

In [175]:
#인덱스 정하기
x_label = pd.Series([3,4,5], index = ['kim','lee','park'])
x_label

kim     3
lee     4
park    5
dtype: int64

In [177]:
#0번째 값 추출
x_num[0]

3

In [179]:
#1번째 값 추출
x_num[1]

4

In [181]:
#2번째 값 추출
x_num[2]

5

In [183]:
#인덱스 kim의 값 추출
x_label['kim']

3

In [185]:
x_label.loc['kim']

3

In [187]:
x_num.iloc[0]

3

In [189]:
#3번째 인덱스에 9 할당
x_num[3] = 9
x_num

0    3
1    4
2    5
3    9
dtype: int64

In [191]:
#인덱스 choi에 6 할당
x_label['choi'] = 6
x_label

kim     3
lee     4
park    5
choi    6
dtype: int64

In [193]:
#2번째 인덱스 삭제
del(x_num[2])
x_num

0    3
1    4
3    9
dtype: int64

In [195]:
#인덱스 park 삭제
del(x_label['park'])
x_label

kim     3
lee     4
choi    6
dtype: int64

In [197]:
#3번째 인덱스의 값을 4로 변경
x_num[3] = 4
x_num

0    3
1    4
3    4
dtype: int64

In [199]:
#인덱스 kim의 값을 5로 변경
x_label['kim'] = 5
x_label

kim     5
lee     4
choi    6
dtype: int64

In [203]:
mpg = pd.read_csv('mpg.csv')

In [205]:
mpg['hwy']

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [207]:
mpg['hwy'].mean()

23.44017094017094

In [209]:
n_category = mpg['category'].value_counts()
n_category

category
suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: count, dtype: int64

In [211]:
type(n_category)

pandas.core.series.Series

In [215]:
#인덱스 번호로 추출하기
type(n_category)

pandas.core.series.Series

In [219]:
#인덱스 문자열로 추출하기
n_category[['suv', 'compact']]

category
suv        62
compact    47
Name: count, dtype: int64

In [222]:
####17-7) 데이터프레임

In [224]:
#데이터프레임 : 행과 열로 구성된 사각형 모양의 표처럼 생긴 자료구조
#            : 데이터를 다룰 때 가장 많이 사용되는 자료구조

In [228]:
#데이터 프레임 만들기
import pandas as pd
df = pd.DataFrame({
    'var1' : [1,2,3],
    'var2' : [4,5,6]
})
df

   var1  var2
0     1     4
1     2     5
2     3     6

In [230]:
type(df)

pandas.core.frame.DataFrame

In [232]:
#인덱스 정하기
df = pd.DataFrame({
    'var1' : [1,2,3],
    'var2' : [4,5,6]},
    index = ['kim','lee','park']
)

In [234]:
df

      var1  var2
kim      1     4
lee      2     5
park     3     6

In [236]:
x = df['var1']
x

kim     1
lee     2
park    3
Name: var1, dtype: int64

In [238]:
type(x)

pandas.core.series.Series

In [240]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
) -> 'None'
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index. This alignment also
    occurs if data is a Series or a DataFrame itself. Alignment is done on
    Series/DataFrame inputs.

    If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

Constructing DataFrame from Series/DataFrame:

>>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
>>> df = pd.DataFrame(data=ser, index=["a", "c"])
>>> df
   0
a  1
c  3

>>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
>>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
>>> df2
   x
a  1
c  3
File:           c:\users\kelly\anaconda3\lib\site-packages\pandas\core\frame.py
Type:           type
Subclasses:     SubclassedDataFrame

In [242]:
x = [1,1,2,3]
x.mean()

AttributeError: 'list' object has no attribute 'mean'

In [244]:
x.value_counts()

AttributeError: 'list' object has no attribute 'value_counts'

In [246]:
#데이터 프레임으로 바꾸기
df_x = pd.DataFrame(x)
type(df_x)

pandas.core.frame.DataFrame

In [250]:
df_x.mean()

0    1.75
dtype: float64

In [252]:
df_x.value_counts()

0
1    2
2    1
3    1
Name: count, dtype: int64