In [2]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
mpg = pd.read_csv('mpg.csv')

In [8]:
#Q1
mpg_copy = mpg.copy() #복사본

In [32]:
mpg_copy = mpg_copy.assign(add = lambda M : M['hwy'] + M['cty'])

In [36]:
#Q2
mpg_copy = mpg_copy.assign(mean = mpg_copy['add']/2)

In [40]:
#Q3
mpg_copy.sort_values('mean',ascending = False).head(3)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,add,mean
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,79,39.5
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,77,38.5
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,70,35.0

In [42]:
#Q4
mpg.assign(add = lambda M : M['hwy'] + M['cty'],
    mean = lambda M : M['add']/2).sort_values('mean', ascending=False).head(3)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,add,mean
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,79,39.5
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,77,38.5
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,70,35.0