In [21]:
#4-2

In [66]:
import pandas as pd #pandas패키지 로드 / 약어 pd로 지정

In [7]:
df = pd.DataFrame({'name' : ['김지훈','이유진','박동현','김민지'],
                  'english' : [90,80,60,70],
                  'math' : [50,60,100,20]},)
#중괄호 내에, "변수명 : (변수에 넣을)값" 형태로 데이터 입력
#변수명 = 칼럼명
#(변수에 넣을)값 = 테이블의 데이터 값 
df

  name  english  math
0  김지훈       90    50
1  이유진       80    60
2  박동현       60   100
3  김민지       70    20

In [9]:
df['english']

0    90
1    80
2    60
3    70
Name: english, dtype: int64

In [11]:
sum(df['english'])

300

In [13]:
sum(df['math'])

230

In [15]:
sum(df['english'])/4

75.0

In [17]:
sum(df['math'])/4

57.5

In [9]:
#4-3

In [11]:
import pandas as pd

In [76]:
df_exam = pd.read_excel('excel_exam.xlsx') 
# read_excel()함수는 엑셀 파일을 데이터프레임으로 만드는 함수
# 파일명 입력시, '(파일명).(확장자명)' 형태로 입력 
df_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [23]:
df_exam = pd.read_excel('c:/Users/kelly/excel_exam.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'c:/Users/kelly/excel_exam.xlsx'

In [27]:
sum(df_exam['english'])/20

84.9

In [29]:
sum(df_exam['science'])/20

59.45

In [31]:
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [33]:
len(x)

5

In [35]:
df = pd.DataFrame({
    'a' : [1,2,3],
    'b' : [4,5,6]
})
df

   a  b
0  1  4
1  2  5
2  3  6

In [37]:
len(df) #df의 행의 개수

3

In [39]:
len(df_exam)

20

In [41]:
sum(df_exam['english'])/len(df_exam)

84.9

In [72]:
sum(df_exam['science'])/len(df_exam)

59.45

In [80]:
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx') 
df_exam_novar
#혹시라도 이 코드가 실행이 안된다면 해당 엑셀파일이 닫혀있는지 확인하기
#엑셀파일이 열려있으면 코드 실행 안됨

   1  1.1  50  98  50.1
0  2    1  60  97    60
1  3    2  25  80    65
2  4    2  50  89    98
3  5    3  20  98    15
4  6    3  50  98    45
5  7    4  46  98    65
6  8    4  48  87    12

In [82]:
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx', header = None)
df_exam_novar
#혹시라도 이 코드가 실행이 안된다면 해당 엑셀파일이 닫혀있는지 확인하기
#엑셀파일이 열려있으면 코드 실행 안됨

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

In [ ]:
# 방법1
df_exam = pd.read_excel('excel_exam.xlsx', sheet_name='sheet2')
#sheet2 시트의 데이터 불러오기
#cf)excel_exam.xlsx 파일엔 sheet2는 없음. 
#위의 코드는 엑셀 파일에 시트가 여러 개 들어있을 때, 특정 시트를 어떻게 불러오는지를 알려주기 위한 코드일뿐임

In [ ]:
# 방법2
df_exam = pd.read_excel('excel_exam.xlsx', sheet_name=2)
#세 번째 시트의 데이터 불러오기
#cf)excel_exam.xlsx 파일엔 시트 하나 뿐임.
#위의 코드는 엑셀 파일에 시트가 여러 개 들어있을 때, 특정 시트를 어떻게 불러오는지를 알려주기 위한 코드일뿐임

In [84]:
df_csv_exam = pd.read_csv('exam.csv')
df_csv_exam

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [86]:
#df_midterm이라는 이름의 데이터프레임 생성
df_midterm = pd.DataFrame({
    'english' : [90,80,60,70],
    'math' : [50,60,100,20], 
    'nclass' : [1,1,2,2]
})
df_midterm

   english  math  nclass
0       90    50       1
1       80    60       1
2       60   100       2
3       70    20       2

In [94]:
#df_midterm데이터프레임을 csv파일로 저장
df_midterm.to_csv('output_newdata.csv')
#저장되는 csv파일은 현재 작업하고 있는 워킹 디렉토리에 저장됨
#저장되는 csv파일의 이름은 output_newdata
#데이터프레임의 인덱스 번호까지 csv파일로 저장됨

In [92]:
#df_midterm데이터프레임을 "인덱스 번호없이" csv파일로 저장
df_midterm.to_csv('output_newdata_noindex.csv', index = False)
#저장되는 csv파일의 이름은 output_newdata_noindex
#output_newdata와 내용은 같지만, output_newdata_noindex는 인덱스 번호를 제외한 형태의 파일임.
#인덱스 번호 없이 파일을 저장하고 싶다면, index=False 를 입력
#cf) True/False (bool형 데이터) 입력시 반드시, 첫 알파벳은 대문자로 입력
#cf) bool형 데이터 : 참인지 거짓인지 나타내는 데이