In [1]:
#Q1

In [3]:
import pandas as pd

In [5]:
import numpy as np

In [7]:
mpg = pd.read_csv('mpg.csv')

In [9]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [17]:
displ_4 = mpg.query('displ <= 4')

In [19]:
displ_5 = mpg.query('displ >= 5')

In [21]:
displ_4['hwy'].mean()

25.96319018404908

In [23]:
displ_5['hwy'].mean()

18.07894736842105

In [25]:
#Q2

In [27]:
audi = mpg.query('manufacturer == "audi"')

In [29]:
toyota = mpg.query('manufacturer == "toyota"')

In [31]:
audi['cty'].mean()

17.61111111111111

In [33]:
toyota['cty'].mean()

18.529411764705884

In [35]:
#Q3

In [43]:
manu_cfh = mpg.query('manufacturer in ["chevrolet", "ford", "honda"]')

In [47]:
manu_cfh['hwy'].mean()

22.50943396226415