In [1]:
import pandas as pd

In [6]:
import numpy as np

In [8]:
mpg = pd.read_csv('mpg.csv')

In [10]:
mpg.loc[[64,123,130,152,211], ['hwy']] = np.nan #mpg의 64,123,130,152,211행의 hwy를 nan으로 변경

In [12]:
#Q1

In [14]:
pd.isna(mpg['drv']).sum()

0

In [16]:
pd.isna(mpg['hwy']).sum()

5

In [18]:
#Q2

In [20]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty   hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18  29.0  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21  29.0  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20  31.0  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21  30.0  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16  26.0  p  compact

In [31]:
mpg.dropna(subset = 'hwy') \
    .groupby('hwy') \
    .agg(mean_hwy = ('hwy','mean'))

      mean_hwy
hwy
12.0      12.0
14.0      14.0
15.0      15.0
16.0      16.0
17.0      17.0
18.0      18.0
19.0      19.0
20.0      20.0
21.0      21.0
22.0      22.0
23.0      23.0
24.0      24.0
25.0      25.0
26.0      26.0
27.0      27.0
28.0      28.0
29.0      29.0
30.0      30.0
31.0      31.0
32.0      32.0
33.0      33.0
34.0      34.0
35.0      35.0
36.0      36.0
37.0      37.0
41.0      41.0
44.0      44.0