 # WEIT x DataStation Team Mission 2. 


- 첨부된 데이터는 다이어트 식품을 판매하는 어플리케이션 회사에서 나온 고객 결제 데이터 입니다. 고객들이 온라인 마케팅으로 유입된 채널에 따라, 결제를 완료한 고객도 있고, 유입이 되었으나 이탈한 고객도 있습니다. 이 데이터로 아래의 미션을 수행보세요.  
- 먼저 개인적으로 풀어본 다음, 팀별로 모여 문제를 풀어보세요.
- Chat GPT와 책, 유튜브 등 여러 자료를 활용하여 최대한 풀어보세요.
- 미제출시 수료증 및 이수증 발급이 제한됩니다.

- **기한 : 24년 11월 19일 23시 59분까지 / 이후 제출 인정 불가** 
- **양식 :** 
    - 제목 : "위아이티6기_팀명_이름_Mission2"
    - 첨부파일 : 해당 Mission 파일 
    - 개별 제출 
- **제출처 : weit2024.project@gmail.com**

### 1. 02_Data.csv파일을 불러와, df1으로 선언하고 데이터의 구조와 타입을 확인하시오.

In [4]:
import pandas as pd
df1 = pd.read_csv('02_Data.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회원코드        10000 non-null  object
 1   프로그램        10000 non-null  object
 2   상태          10000 non-null  object
 3   프로그램가격      10000 non-null  int64
 4   최종결제금액      10000 non-null  int64
 5   결제시각        10000 non-null  object
 6   결제유형        10000 non-null  object
 7   채널          10000 non-null  object
 8   보조식품가격      10000 non-null  int64
 9   보조식품(추가구매)  10000 non-null  object
dtypes: int64(3), object(7)
memory usage: 781.4+ KB

### 2. '프로그램가격'의 평균, 최대값, 최소값을 확인하시오.

In [6]:
df1['프로그램가격'].describe()

count     10000.000000
mean     107778.024000
std       17897.796506
min       44780.000000
25%      112500.000000
50%      112500.000000
75%      112500.000000
max      177000.000000
Name: 프로그램가격, dtype: float64

### 3. '채널'의 항목과 빈도수를 확인하고, '채널'별 '최종결제금액'의 합을 계산하여, result1.xlsx로 저장하시오.

In [8]:
df1['채널'].value_counts()

채널
facebook     6880
others       1390
naver        1009
direct        297
email         271
google        120
instagram      33
Name: count, dtype: int64

In [10]:
ch_check = df1.groupby('채널').agg(finalcheck_sum = ('최종결제금액', 'sum'))
ch_check.to_excel('result1.xlsx', index = False)

### 4. '채널'의 빈도수가 높은 상위 3개 항목을 뽑아, 해당 데이터의 '보조식품(추가구매)'에 따른 '최종결제금액'의 합과 평균을 계산하시오.

In [45]:
top3_channels = df1['채널'].value_counts().head(3).index#채널의 빈도수가 높은 상위 3개 항목
top3_data_df = df1[df1['채널'].isin(top3_channels)]
print(top3_data_df)

          회원코드              프로그램         상태  프로그램가격  최종결제금액  \
0     Y9RY2VSI   체중감량 프로그램 (타입B)  completed  112500  112500
1     3GTN3S3B   체중감량 프로그램 (타입B)  completed   44780   44780
2     6B0IG276  체중감량 프로그램 (타입 A)  completed  132000  149000
3     EMGRU2MO  체중감량 프로그램 (타입 A)  completed  112500  112500
4     1ELG96TX   체중감량 프로그램 (타입B)  completed   44780   44780
...        ...               ...        ...     ...     ...
9995  118AFCQ9   체중감량 프로그램 (타입B)  completed  112500  112500
9996  VDE8FXV9  체중감량 프로그램 (타입 A)  completed  112500  129500
9997  VWJ4NLZY  체중감량 프로그램 (타입 A)  completed  112500  129500
9998  NJ2PR967   체중감량 프로그램 (타입B)  cancelled  112500  129500
9999  KVX64CPM  체중감량 프로그램 (타입 A)  cancelled  112500  112500

                               결제시각       결제유형        채널  보조식품가격 보조식품(추가구매)
0      2017-04-14 오후 7:03:29.976000  Recurring    others       0       구매안함
1      2017-05-23 오후 8:53:54.368000  Recurring    others       0       구매안함
2     2017-08-23 오후 11:39:21.840000  Recurring  facebook   17000   식이요법보조제A
3      2017-08-28 오후 8:18:22.824000  Recurring     naver       0       구매안함
4      2017-05-07 오후 5:50:30.944000  Recurring  facebook       0       구매안함
...                             ...        ...       ...     ...        ...
9995  2017-04-18 오전 12:43:58.104000  Recurring  facebook       0       구매안함
9996  2017-08-16 오전 10:03:10.136000  Recurring  facebook   17000   식이요법보조제A
9997  2017-08-09 오전 11:47:55.408000  Recurring  facebook   17000   식이요법보조제A
9998   2017-04-28 오전 7:05:19.776000  Recurring  facebook       0       구매안함
9999  2017-06-02 오전 10:16:34.576000  Recurring    others       0       구매안함

[9279 rows x 10 columns]

In [47]:
sup_addpurchase_sum = top3_data_df.groupby('보조식품(추가구매)')['최종결제금액'].sum()
sup_addpurchase_mean = top3_data_df.groupby('보조식품(추가구매)')['최종결제금액'].mean()

sum_mean = top3_data_df.groupby(['채널','보조식품(추가구매)'])['최종결제금액'].agg(['sum','mean'])
print(sum_mean)

                           sum           mean
채널       보조식품(추가구매)
facebook 구매안함        527758080  115407.408703
         단백질보충제A      30694290  128967.605042
         단백질보충제B       5848280  114672.156863
         식이요법보조제A    199833090  126316.744627
         식이요법보조제B     54792540  141217.886598
         종합비타민A        6210180  129378.750000
naver    구매안함        103391890  109178.342133
         단백질보충제A       4784580  129312.972973
         단백질보충제B        422280  105570.000000
         종합비타민A        2893000  137761.904762
others   구매안함        139047490  106143.122137
         단백질보충제A       5924740  128798.695652
         단백질보충제B        692060   98865.714286
         종합비타민A        3685400  136496.296296

### 5. '결제시각'데이터에서 날짜와 시간데이터를 나누어 데이터만 뽑아, '결제날짜'와 '결제시간'파생변수로 각각 선언하시오.

In [20]:
df1['결제시각'] = df1['결제시각'].str.replace('오전','AM').str.replace('오후','PM')

In [50]:
df1['결제날짜'] = pd.to_datetime(df1['결제시각'], format = '%Y-%m-%d %p %I:%M:%S.%f').dt.date #날짜만 추출
df1['결제시간'] = pd.to_datetime(df1['결제시각'], format = '%Y-%m-%d %p %I:%M:%S.%f').dt.time #시간만 추출

In [42]:
df1[['결제날짜','결제시간']]

            결제날짜             결제시간
0     2017-04-14  19:03:29.976000
1     2017-05-23  20:53:54.368000
2     2017-08-23  23:39:21.840000
3     2017-08-28  20:18:22.824000
4     2017-05-07  17:50:30.944000
...          ...              ...
9995  2017-04-18  00:43:58.104000
9996  2017-08-16  10:03:10.136000
9997  2017-08-09  11:47:55.408000
9998  2017-04-28  07:05:19.776000
9999  2017-06-02  10:16:34.576000

[10000 rows x 2 columns]

### 6. 앞서 추출된 '결제날짜'데이터를 이용하여, '연도' / '월' / '일' 데이터를 추출하시오.

In [59]:
df1['결제날짜'] = pd.to_datetime(df1['결제날짜'], errors='coerce')
df1['연도'] = df1['결제날짜'].dt.year
df1['월'] = df1['결제날짜'].dt.month
df1['일'] = df1['결제날짜'].dt.day

In [61]:
df1[['연도', '월','일']]

        연도  월   일
0     2017  4  14
1     2017  5  23
2     2017  8  23
3     2017  8  28
4     2017  5   7
...    ... ..  ..
9995  2017  4  18
9996  2017  8  16
9997  2017  8   9
9998  2017  4  28
9999  2017  6   2

[10000 rows x 3 columns]

### 7. 결제 '월'별 '최종결제금액'의 합을 계산하시오.

In [95]:
df1.groupby('월').agg(월별최종결제금액합 = ('최종결제금액', 'sum'))

   월별최종결제금액합
월
3   67579200
4  133340640
5  185577300
6  203945100
7  178364700
8  395389300

### 8. '최종결제금액'이 높은 30명의 고객 명단을 추출하여, result2.xlsx로 선언하시오.

In [77]:
#df1.head()

,회원코드,프로그램,상태,프로그램가격,최종결제금액,결제시각,결제유형,채널,보조식품가격,보조식품(추가구매),결제날짜,결제시간,연도,월,일,최종결제금액합
0,Y9RY2VSI,체중감량 프로그램 (타입B),completed,112500,112500,2017-04-14 PM 7:03:29.976000,Recurring,others,0,구매안함,2017-04-14,19:03:29.976000,2017,4,14,NaN
1,3GTN3S3B,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-23 PM 8:53:54.368000,Recurring,others,0,구매안함,2017-05-23,20:53:54.368000,2017,5,23,NaN
2,6B0IG276,체중감량 프로그램 (타입 A),completed,132000,149000,2017-08-23 PM 11:39:21.840000,Recurring,facebook,17000,식이요법보조제A,2017-08-23,23:39:21.840000,2017,8,23,NaN
3,EMGRU2MO,체중감량 프로그램 (타입 A),completed,112500,112500,2017-08-28 PM 8:18:22.824000,Recurring,naver,0,구매안함,2017-08-28,20:18:22.824000,2017,8,28,67579200.0
4,1ELG96TX,체중감량 프로그램 (타입B),completed,44780,44780,2017-05-07 PM 5:50:30.944000,Recurring,facebook,0,구매안함,2017-05-07,17:50:30.944000,2017,5,7,133340640.0

In [87]:
top30 = df1.sort_values('최종결제금액', ascending = False)['회원코드'].head(30)
top30.to_excel('result2.xlsx', index = False)

### 9. '상태'가 completed에 해당하는 데이터만 뽑아, '채널'별 '최종결제금액'의 합을 계산하시오.

In [97]:
completed = df1.query('상태 == "completed"')
completed.groupby('채널').agg(채널별최종결제금액합 = ('최종결제금액', 'sum'))

           채널별최종결제금액합
채널
direct       17538760
email        17475380
facebook    437954060
google        7017240
instagram     1890780
naver        63103330
others       83813430

## 끝. 고생하셨습니다