In [1]:
#리스트 만들기
x = [1,2,'a','b']
x

[1, 2, 'a', 'b']

In [2]:
type(x)

list

In [3]:
x[0] #0번째 값 추출

1

In [4]:
x[1:3] #1-2번째 값 추출

[2, 'a']

In [6]:
x.append(8) #x에 8추가
x

[1, 2, 'a', 'b', 8, 8]

In [7]:
x.remove(2) #x에서 2삭제
x

[1, 'a', 'b', 8, 8]

In [9]:
x[0] = 9 #0번째 값을 9로 변경
x

[9, 'a', 'b', 8, 8]

In [12]:
#17-4 튜플 만들기
x = (1,2,'a','b')
x

(1, 2, 'a', 'b')

In [13]:
type(x)

tuple

In [14]:
# () 생략하고 튜플 만들기
x2 = 1,2,'a','b'
x2

(1, 2, 'a', 'b')

In [15]:
type(x2)

tuple

In [16]:
#0번째 값 추출
x[0]

1

In [17]:
#1-2번째 값 추출
x[1:3]

(2, 'a')

In [18]:
#튜플은 한 번 만들면 수정 불가능 - 오류코드
#x.append(8) 
#x.remove(3) 
#x[0] = 9

In [19]:
#17-5 딕셔너리

#딕셔너리 만들기
x = {'name', 'kim'}
x

{'kim', 'name'}

In [20]:
type(x)

set

In [22]:
x = {'id' :1, 'name' : ['kim', 'park'], 'nclass' : (1,2,3)}
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3)}

In [23]:
#id 키의 값 추출
x['id']

1

In [24]:
#name 키의 값 추출
x['name']

['kim', 'park']

In [26]:
#x[1] - 키-값 쌍은 인덱스를 이용해 추출할 수 없음, 오류코드

In [27]:
#name 키의 0번째 값 추출
x['name'][0]

'kim'

In [28]:
#nclass 키의 1번째 값 추출
x['nclass'][1]

2

In [29]:
#'score':[5,6,7]쌍 추가
x['score'] = [5,6,7]
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [30]:
#id 키:값 쌍 삭제
del(x['id'])
x

{'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [31]:
#name 키의 1번째 요소 삭제
del(x['name'][1])
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [32]:
#score 키의 값 변경
x['score'] = [7,8,9]
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 9]}

In [33]:
#score 키의 2번째 값 변경
x['score'][2] = 99
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 99]}

In [34]:
#(1) 기존 키를 새 키에 할당
x['math'] = x['score']
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 99], 'math': [7, 8, 99]}

In [35]:
#(2) 기존 키 삭제
del(x['score'])
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'math': [7, 8, 99]}

In [36]:
#17-6

#시리즈 만들기
import pandas as pd
x_num = pd.Series([3,4,5])
x_num

0    3
1    4
2    5
dtype: int64

In [37]:
type(x_num)

pandas.core.series.Series

In [38]:
#인덱스 정하기
x_label = pd.Series([3,4,5], index = ['kim', 'lee', 'park'])
x_label

kim     3
lee     4
park    5
dtype: int64

In [39]:
#0번째 값 추출
x_num[0]

3

In [40]:
#1번째 값 추출
x_num[1]

4

In [44]:
x_label['kim']

3

In [45]:
x_label.loc['kim']

3

In [46]:
x_num.iloc[0]

3

In [47]:
#3번째 인덱스에 9 할당
x_num[3] = 9
x_num

0    3
1    4
2    5
3    9
dtype: int64

In [48]:
#인덱스 choi에 6 할당
x_label['choi'] = 6
x_label

kim     3
lee     4
park    5
choi    6
dtype: int64

In [49]:
#2번째 인덱스 삭제
del(x_num[2])
x_num

0    3
1    4
3    9
dtype: int64

In [50]:
#인덱스 park 삭제
del(x_label['park'])
x_label

kim     3
lee     4
choi    6
dtype: int64

In [51]:
#3번째 인덱스의 값을 4로 변경
x_num[3]=4
x_num

0    3
1    4
3    4
dtype: int64

In [52]:
#인덱스 kim의 값을 5로 변경
x_label['kim']=5
x_label

kim     5
lee     4
choi    6
dtype: int64

In [53]:
mpg = pd.read_csv('mpg.csv')
mpg['hwy']

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [54]:
mpg['hwy'].mean()

23.44017094017094

In [55]:
n_category = mpg['category'].value_counts()
n_category

category
suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: count, dtype: int64

In [56]:
type(n_category)

pandas.core.series.Series

In [57]:
#인덱스 번호로 추출하기
n_category[0:2]

category
suv        62
compact    47
Name: count, dtype: int64

In [59]:
#인덱스 문자열로 추출하기
n_category[['suv','compact']]

category
suv        62
compact    47
Name: count, dtype: int64

In [60]:
#17-7 데이터 프레임
#데이터 프레임 만들기
import pandas as pd
df = pd.DataFrame({'var1': [1,2,3],
                   'var2' : [4,5,6]})
df

   var1  var2
0     1     4
1     2     5
2     3     6

In [61]:
type(df)

pandas.core.frame.DataFrame

In [64]:
#인덱스 정하기
df = pd.DataFrame({'var1': [1,2,3],
                   'var2': [4,5,6]},
                  index = ['kim', 'lee', 'park'])
df

      var1  var2
kim      1     4
lee      2     5
park     3     6

In [65]:
x=df['var1']
x

kim     1
lee     2
park    3
Name: var1, dtype: int64

In [66]:
type(x)

pandas.core.series.Series

In [67]:
#데이터프레임으로 자료 구조 바꾸기
df_x = pd.DataFrame(x)
type(df_x)

pandas.core.frame.DataFrame

In [68]:
df_x.mean()

var1    2.0
dtype: float64

In [69]:
df_x.value_counts()

var1
1       1
2       1
3       1
Name: count, dtype: int64